*{
  color: #CFD7C7;
  text-align: center;
  box-sizing: border-box;
}
button{
  color: black;
}
body{
  background-color: #40798C;
}
span{
  display: block;
}
.emojiContainer{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.emoji{
  cursor: crosshair;
  max-height: 60px;
  display: inline;
  font-size: 2rem;
  padding: 5px;
}

.red {
  border: thick solid darkred;
  
}
.green{
  outline: thick solid darkgreen;
}

/* .red {
  background: red;
  border: 2px solid red; 
  border-radius: 5px;
  outline-offset: 2px;
  padding: 3px 0;
}

.green {
  background: lightgreen;
  border-radius: 5px;
  padding: 3px 0;
} */