*{
  color: #CFD7C7;
  text-align: center;
  box-sizing: border-box;
}
button{
  color: black;
}
body{
  background-color: #40798C;
}
span{
  display: block;
}
.emojiContainer{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.emoji{
  max-height: 60px;
  display: inline;
  font-size: 2rem;
  padding: 5px;
}

.compySel {
  border: 2px solid #0B2027; 
  border-radius: 5px;
  outline-offset: 2px;
  padding: 3px;
}

.playerSel {
  border: 2px solid #F6F1D1; 
  border-radius: 7px;
  padding: 3px;
}

.subCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 70px;
  outline-offset: 2px;
}